/* css/layout/_grid.css */
.container {
    width: 86%; /* Mantenemos el ancho relativo */
    max-width: 1400px; /* Limita el ancho máximo en pantallas grandes */
    margin-left: auto;
    margin-right: auto;

}

